[submodule "rakugaki-moto-sam"]
	path = rakugaki-moto-sam
	url = git@github.com:myonyomu/rakugaki-moto-sam.git
[submodule "rakugaki-golang"]
	path = rakugaki-golang
	url = git@github.com:myonyomu/rakugaki-golang.git
